<script setup lang="ts">
import TextCell from '@am/cells/TextCell.vue';
import { BannerProps } from './Banner.t';
const props = defineProps<BannerProps>()
</script>

<template>
    <div class="am-banner" :class="{'am-vibrant': vibrant, 'am-banner-stacked': stacked}">
        <div class="am-banner-content">
            <TextCell v-bind="props" class="am-strong"></TextCell>
            <slot name="content"></slot>
        </div>
        <div class="am-banner-actions">
            <slot name="actions"></slot>
        </div>
    </div>
</template>

<style lang="scss">
@use '@am/theme/colors.module.scss' as colors;
.am-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: calc(2*var(--units-control-spacing));
    padding: var(--units-control-pad-h) var(--units-control-pad-h);
    border-radius: var(--units-control-corner);

    @include colors.apply-shade('a', 600);

    @include colors.dark-theme {
        @include colors.apply-shade('a', 2400);
    }

    &.am-banner-stacked {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    &.am-vibrant {
        background: colors.color('a-transparent', 500);
    }

    .am-banner-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--units-control-spacing);
    }
    .am-banner-actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: var(--units-control-spacing);
    }
}
</style>