<script setup lang="ts">
import type { DialogHint, NavigationHints } from '@am/traits/Navigation';
import { useNavigationGraph } from '@am/traits/NavigationGraph';
import { computed, type Component } from 'vue';
import Dialog from './Dialog.vue';
import NavigationStack from './NavigationStack.vue';

const navigationGraph = useNavigationGraph();

const navigationContexts = computed(() => {
    return navigationGraph.graph.value.filter(c => {
        const hints = c.hints.map(h => typeof h == 'string' ? h : h.hint)
        return hints.includes('dialog')
    })
})

const remainingGraph = computed(() => {
    return navigationGraph.graph.value.filter(c => {
        const hints = c.hints.map(h => typeof h == 'string' ? h : h.hint)
        return !hints.includes('dialog')
    })
})

navigationGraph.provideSubGraph(remainingGraph)

function getScaffolding(hints: NavigationHints[]): Component | undefined {
    const scaffoldingHint = hints.filter(h => typeof h != 'string' && h.hint == 'dialog')[0] as DialogHint
    if (scaffoldingHint.scaffolding) {
        return navigationGraph.resolveView(scaffoldingHint.scaffolding)
    } else {
        return NavigationStack
    }
}

</script>

<template>
    <slot></slot>
    <Dialog
        v-for="context in navigationContexts"
        :navigation-context="context"
        >
        <component :is="getScaffolding(context.hints)"></component>
    </Dialog> 
</template>

<style lang="scss">
</style>