<script setup lang="ts">
import { useActionBus } from '@am/traits/ActionBus';
import { NavigationAction, type DialogHint } from '@am/traits/Navigation';
import { useNavigationGraph, type NavigationContext } from '@am/traits/NavigationGraph';
import { computed, ref } from 'vue';

const navigationGraph = useNavigationGraph()
const actionBus = useActionBus()

const props = defineProps<{
    navigationContext: NavigationContext
}>()

const subGraph = computed(() => {
    return [props.navigationContext]
})
const dialogHint = computed(() => {
    return props.navigationContext.hints
        .filter(h => typeof h != 'string' && h.hint == 'dialog')[0] as DialogHint
})
const canCancel = computed(() => {
    return dialogHint.value.noCancel != true
})
const isWide = computed(() => {
    return dialogHint.value.wide ?? false
})
const shakeAnimation = ref(false)

navigationGraph.provideSubGraph(subGraph)

function closeDialog() {
    if (canCancel.value) {
        actionBus.send(NavigationAction.DropContext, null)
    } else {
        console.log('shake')
        shakeAnimation.value = true
        setTimeout(() => {
            shakeAnimation.value = false
        }, 1000)
    }
}
</script>

<template>
    <div class="am-dialog-overlay">
        <div class="am-dialog-shrim" @click="closeDialog"></div>
        <div class="am-dialog" :class="{shake: shakeAnimation, 'am-dialog-wide': isWide}">
            <div class="am-dialog-content">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
@use '@am/theme/colors.module.scss' as colors;
@use '@am/theme/controls.module.scss' as controls;
.am-dialog-overlay {
    display: flex;
    position: fixed;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    .am-dialog-shrim {
        display: block;
        position: absolute;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: rgba(0,0,0,0.3);
        z-index: 2;
    }
}
.am-dialog {
    display: block;
    position: fixed;
    
    top: calc(3 * var(--units-control-pad-v) + var(--units-safe-top));
    left: calc(var(--units-control-pad-v) + var(--units-safe-left));
    right: calc(var(--units-control-pad-v) + var(--units-safe-right));
    bottom: 0;
    border-radius: var(--units-control-corner) var(--units-control-corner) 0 0;

    @include controls.elevate(2);
    @include colors.apply-shade('a', 400);

    @include colors.dark-theme {
        @include colors.apply-shade('a', 2600);
    }

    animation: am-dialog-show 0.2s ease-in-out forwards;

    z-index: 3;

    &.shake {
        animation: am-dialog-shake 0.2s ease-in-out;
    }

    .am-dialog-content {
        --units-safe-top: 0px;
        --units-safe-left: 0px;
        --units-safe-right: 0px;
    }
}


@media (min-width: 450px) and (min-height: 200px) {
    .am-dialog {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;

        width: 70%;
        height: 90%;

        min-width: 200px;
        max-width: 500px;
        max-height: 700px;

        border-radius: var(--units-control-corner);

        animation: am-dialog-show-tablet 0.2s ease-in-out forwards;

        --units-safe-top: 0px;
        --units-safe-left: 0px;
        --units-safe-right: 0px;
        --units-safe-bottom: 0px;

        &.am-dialog-wide {
            width: calc(100% - var(--units-control-base));
            max-width: none;
        }

    }
}

@keyframes am-dialog-show {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes am-dialog-show-tablet {
    from {
        opacity: 0;
        transform: scale(0.3);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes am-dialog-shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-20px);
    }
    75% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}
</style>