<script setup lang="ts">
import type { TextCellProps } from '@am/cells/TextCell.t';
import type { IconCellProps } from '@am/cells/IconCell.t';
import IconCell from '@am/cells/IconCell.vue';
import TextCell from '@am/cells/TextCell.vue';

const props = defineProps<TextCellProps & IconCellProps>()
</script>

<template>
    <div class="am-empty">
        <IconCell v-bind="props"></IconCell>
        <TextCell v-bind="props" class="am-title"></TextCell>
        <slot></slot>
    </div>
</template>

<style lang="scss">
.am-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: calc(2*var(--units-control-spacing));
    padding: var(--units-control-pad-v) var(--units-control-pad-h);
    

    & > .am-icon {
        height: calc(1.5 * var(--units-control-base));
        width: calc(1.5 * var(--units-control-base));
    }

    .am-progress-bar {
        min-width: calc(5 * var(--units-control-base));
    }
}
</style>