<script setup lang="ts">
import type { TextCellProps } from '@am/cells/TextCell.t';
import TextCell from '@am/cells/TextCell.vue';
import { newId } from '@am/traits/Identity';

const props = defineProps<TextCellProps>()
const identity = newId()
const ariaLabelId = `label_${identity}`
</script>

<template>
    <div class="am-form-section" :aria-labelledby="ariaLabelId">
        <TextCell v-bind='props' class="am-form-section-title" :id="ariaLabelId"></TextCell>
        <slot name="description"></slot>
        <slot></slot>
    </div>
</template>

<style lang="scss">
@use '@am/theme/colors.module.scss' as colors;
@use '@am/theme/controls.module.scss' as controls;
@use '@am/theme/font.module.scss' as font;
.am-form-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: calc(1.5*var(--units-control-spacing));
    
    .am-form-section-title {
        @include font.title;
    }

    & > .am-button {
        justify-content: flex-start;
    }
}
</style>