<script setup lang="ts">
</script>

<template>
    <form class="am-form">
        <slot></slot>
    </form>
</template>

<style lang="scss">
@use '@am/theme/colors.module.scss' as colors;
@use '@am/theme/controls.module.scss' as controls;
@use '@am/theme/font.module.scss' as font;
.am-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: calc(3*var(--units-control-spacing));
    padding: var(--units-control-pad-v) 0;
}
</style>