<script setup lang="ts">
import TextCell from '@am/cells/TextCell.vue';
import type { TextCellProps } from '@am/cells/TextCell.t';
import { newId } from '@am/traits/Identity';

const props = defineProps<TextCellProps>()
const identity = newId()
const ariaLabelId =`label_${identity}`
</script>

<template>
    <div class="am-form-item">
        <label class="am-form-item-label" :id="ariaLabelId">
            <TextCell v-bind="props"></TextCell>
        </label>
        <slot :aria-labelledby="ariaLabelId"></slot>
    </div>
</template>

<style lang="scss">
@use '@am/theme/colors.module.scss' as colors;
.am-form-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    gap: var(--units-control-pad-h);
    margin-top: calc(-1.5*var(--units-control-spacing));
    padding: calc(0.5*var(--units-control-spacing)) var(--units-control-pad-v);
    padding-left: calc(1.5*var(--units-control-pad-h));

    &:first-of-type {
        border-radius: var(--units-control-corner) var(--units-control-corner) 0 0;
        padding-top: var(--units-control-pad-v);
        margin-top: 0;
    }
    &:last-of-type {
        border-radius: 0 0 var(--units-control-corner) var(--units-control-corner);
        padding-bottom: var(--units-control-pad-v);
    }
    &:first-of-type:last-of-type {
        border-radius: var(--units-control-corner);
    }

    @include colors.apply-shade('a', 600);
    @include colors.dark-theme {
        @include colors.apply-shade('a', 2400);
    }

    .am-form-item-label {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 30%;
    }
    .am-text-box, .am-button {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 70%;
    }
    .am-cell-text:not(.am-form-item-label *) {
        padding: var(--units-control-pad-v) var(--units-control-pad-h);
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 70%;
        border-radius: var(--units-control-corner);
        border: var(--units-control-border) solid var(--container-background);
    }

}
</style>