<script setup lang="ts">
import type { Icon } from '@am/cells/IconCell.t';
import TextCell from '@am/cells/TextCell.vue';
import type { TextCellProps } from '@am/cells/TextCell.t';
import IconButton from '@am/controls/IconButton.vue';
import type { Action } from '@am/traits/ActionBus';
import { ChevronLeft } from 'lucide-vue-next';
import { computed } from 'vue';

const props = withDefaults(defineProps<TextCellProps & {
    showBack?: boolean,
    backIcon?: Icon,
    onBack?: Action,
}>(), {
    showBack: true,
    onBack: 'navigation::back',
})

const icon = computed(() => {
    return props.backIcon ?? ChevronLeft
})
</script>

<template>
    <header class="am-hero-header">
        <IconButton
            v-if="showBack"
            :icon="icon"
            :on-tap="onBack"
            text-key="back"
            ></IconButton>
        <TextCell kind='heading' v-bind="props" class="am-hero"></TextCell>
    </header>
</template>

<style lang="scss">
.am-hero-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: var(--units-control-spacing);
    padding: var(--units-control-pad-v) var(--units-control-pad-h);

    height: calc(2.5 * var(--units-control-base));

    & > .am-button:first-child {
        margin-left: calc(-0.2 * var(--units-control-base))
    }
}
</style>