<script setup lang="ts">
import { useActionBus, type Action } from '@am/traits/ActionBus';
import type { TextCellProps } from '@am/cells/TextCell.t';
import { useKeyboardSelection } from '@am/traits/KeyboardSelectionTrait';
import { computed, onMounted, ref, type Component } from 'vue';
import { useDragDrop, type DragDropProps } from '@am/traits/DragDropTrait';

export interface ListItem extends TextCellProps {
    key: string | number | symbol,
}

export interface ListProps extends DragDropProps {
    items: ListItem[],
    cell?: Component,
    selected?: (string | number | symbol)[],
    multiselect?: boolean,
    padContent?: boolean,

    onSelect?: Action,
}

const actionBus = useActionBus()
const props = defineProps<ListProps>()

const el = ref<HTMLDivElement | null>(null)

/* Focus */

const itemCount = computed(() => props.items.length)
const { focussedIndex, focusItem } = useKeyboardSelection(
    el,
    itemCount,
    initialFocus,
    (index, event) => {
        if (index == null) return
        if (index >= 0 && index < itemCount.value) {
            selectElement(props.items[index].key, event)
        }
    }
)

const focussedItem = computed(() => {
    if (focussedIndex.value == null) return null
    if (focussedIndex.value >= 0 && focussedIndex.value < itemCount.value) {
        return props.items[focussedIndex.value].key
    }
})

function getIndex(key: string | number | symbol, defaultValue: number | null = null): number | null {
    for (const index in props.items) {
        if (props.items[index].key == key) {
            return Number.parseInt(index)
        }
    }
    return defaultValue
}

function initialFocus() {
    if (props.items.length == 0) return null
    if (!props.selected || props.selected.length == 0) return 0
    return getIndex(props.selected[0])
}


function selectElement(key: string | number | symbol, event: PointerEvent | KeyboardEvent) {
    focusItem(getIndex(key))
    if (props.multiselect && props.selected != null && (event.shiftKey || event.ctrlKey)) {
        if (props.selected.includes(key)) {
            actionBus.send(props.onSelect, props.selected.filter(k => k != key))
        } else {
            actionBus.send(props.onSelect, props.selected.concat([key]))
        }
    } else {
        actionBus.send(props.onSelect, [key], event)
    }
}

/* Drag & Drop */
const acceptsDrop = ref(false)
const dd = useDragDrop(
    props, 
    (event) => {
        acceptsDrop.value = true
    },
    () => {
        acceptsDrop.value = false
    }
)

</script>

<template>
    <div 
        class="am-list" 
        :class="{'drop-target': acceptsDrop, 'pad-content': padContent ?? false}"
        tabindex="0" 
        role="listbox" 
        :aria-multiselectable="props.multiselect" 
        ref="el"
        @dragenter="dd.dragEnter"
        @dragover="dd.dragOver"
        @dragleave="dd.dragLeave"
        @drop="dd.drop"
        >
        <div 
            class="am-list-item" 
            role="listitem" 
            v-for="item in props.items" 
            :key="item.key"
            :aria-selected="props.selected && props.selected.includes(item.key)" 
            :focussed="item.key == focussedItem"
            :draggable="props.allowDrag"
            @pointerup="selectElement(item.key, $event)"
            @dragstart="dd.dragStart($event, item.key)"
            @dragend="dd.dragEnd($event, item.key)"
            >
            <slot 
                name="cell" 
                v-bind="item" 
                :selected="props.selected && props.selected.includes(item.key)"
                :focussed="item.key == focussedItem"
                >
                <component 
                    :is="props.cell" 
                    v-bind="item" 
                    :selected="props.selected && props.selected.includes(item.key)"
                    :focussed="item.key == focussedItem"></component>
            </slot>
        </div>
        <slot 
            name="empty"
            v-if="props.items.length == 0"
            ></slot>
    </div>
</template>

<style lang="scss">
@use '@am/theme/controls.module.scss' as controls;
@use '@am/theme/colors.module.scss' as colors;

.am-list {
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    gap: var(--units-control-spacing);

    cursor: default;
    user-select: none;

    &.pad-content {
        padding: var(--units-control-pad-v) var(--units-control-pad-h);
    }

    &.drop-target {
        @include colors.apply-shade('a', 600);
        @include colors.dark-theme {
            @include colors.apply-shade('a', 2300);
        }
    }

    &:focus {
        outline: none;
    }

    .am-list-item {
        @include controls.control();
        border: var(--units-control-border) solid transparent;
        justify-content: stretch;
        height: auto;
        min-height: var(--units-control-base);

        transition: 0.3s ease-in-out;

        &[aria-selected="true"] {
            @include colors.apply-color('a', 500);

            &:hover {
                @include colors.apply-color('a', 400);
            }

            &[focussed="true"] {
                @include colors.apply-color('a', 400);
            }
        }

        &:hover {
            @include colors.apply-shade('a', 1000);
            @include controls.elevate(2);
        }

        &[focussed="true"] {
            border-color: colors.shade('a', 2000);
        }

        @include colors.dark-theme {
            &:hover {
                @include colors.apply-shade('a', 2000);
            }

            &[focussed="true"] {
                border-color: colors.shade('a', 1200);
            }
        }

    }

}
.am-form .am-list {
    @include colors.apply-shade('a', 600);
    border-radius: var(--units-control-corner);
    padding: var(--units-control-pad-v) var(--units-control-pad-v);

    @include colors.dark-theme {
        @include colors.apply-shade('a', 2400);
    }

    .am-list-item {
        
        &[aria-selected="true"] {

            @include colors.apply-shade('a', 800);

            &:hover {
                @include colors.apply-shade('a', 1000);
            }

            &[focussed="true"] {
                @include colors.apply-shade('a', 1000);
            }

            @include colors.dark-theme { 

                @include colors.apply-shade('a', 2100);

                &:hover {
                    @include colors.apply-shade('a', 2000);
                }

                &[focussed="true"] {
                    @include colors.apply-shade('a', 2000);
                }

            }
        }
    }
}
</style>