<script setup lang="ts">
import { useActionBus } from '@am/traits/ActionBus';
import { computed, ref, watch } from 'vue';
import MenuItem from './MenuItem.vue';
import { type MenuItemProps } from './MenuItem.t';

const actionBus = useActionBus()
const props = defineProps<{
    items: MenuItemProps[],
    controller: MenuControllerType,
}>()

const cssPosition = computed(() => {
    let val = {} as any
    const pos = props.controller.position

    if (pos.top != undefined) 
        val.top = `${pos.top}px`
    if (pos.left != undefined) 
        val.left = `${pos.left}px`
    if (pos.bottom != undefined) 
        val.bottom = `${pos.bottom}px`
    if (pos.right != undefined) 
        val.right = `${pos.right}px`


    return val
})

let closeSignal = <AbortController|null>(null)
watch(props.controller, () => {
    if (props.controller.isOpen) {
        closeSignal?.abort()
        closeSignal = new AbortController()
        window.addEventListener('keydown', (event) => {
            if (event.key == 'Escape') {
                event.stopPropagation()
                props.controller.close()
            } else if (event.key == 'ArrowUp') {
                prevItem()
            } else if (event.key == 'ArrowDown') {
                nextItem()
            } else if (event.key == ' ' || event.key == 'Enter') {
                event.stopImmediatePropagation()
                event.preventDefault()
                callItem(event)
            }
        }, {capture: true, signal: closeSignal.signal})
        focussedIndex.value = 0
    } else {
        closeSignal?.abort()
    }
})

function closeMenu() {
    props.controller.close()
}

/* Keyboard selection */
const focussedIndex = ref(0)
function nextItem() {
    const next = focussedIndex.value + 1
    focussedIndex.value = next < props.items.length ? next : 0
}
function prevItem() {
    const prev = focussedIndex.value - 1
    focussedIndex.value = prev >= 0 ? prev : props.items.length - 1
}
function callItem(event: KeyboardEvent) {
    if (focussedIndex.value < 0 || focussedIndex.value >= props.items.length) return
    const item = props.items[focussedIndex.value]
    actionBus.send(item.onTap, item.actionData, event)
    closeMenu()
}

</script>

<script lang="ts">

type Position = {
    left?: number,
    right?: number,
    top?: number,
    bottom?: number,
}

export type MenuControllerType = {
    isOpen: boolean,
    position: Position,
    close: () => void,
    open: (event: PointerEvent | MouseEvent) => void
}

class MenuController {
    private show: boolean = false
    private pos: Position = {}

    get isOpen() {
        return this.show
    }

    get position() {
        return this.pos
    }

    close() {
        this.show = false
    }

    calculatePosition(event: PointerEvent | MouseEvent) {
        let left = Math.max(5, event.clientX - 10) as number | undefined
        let top = Math.max(5, event.clientY - 10) as number | undefined
        let right = undefined as number | undefined
        let bottom = undefined as number | undefined

        if (left == undefined || left > window.innerWidth / 2) {
            left = undefined
            right = Math.max(5, window.innerWidth - event.clientX - 10)
        }
        if (top == undefined || top > window.innerHeight / 2) {
            top = undefined
            bottom = Math.max(5, window.innerHeight - event.clientY - 10)
        }

        if (event.currentTarget != null) {
            const rect = (event.currentTarget as Element).getBoundingClientRect()
            left = Math.max(5, rect.x - 10)
            top = Math.max(5, rect.y - 0)

            if (left > window.innerWidth / 2) {
                left = undefined
                right = Math.max(5, window.innerWidth - rect.x - rect.width - 10)
            }
            if (top > window.innerHeight / 2) {
                top = undefined
                bottom = Math.max(5, window.innerHeight - rect.y - rect.height - 50)
            }
        }

        this.pos = {left, right, top, bottom}
    }

    open(event: PointerEvent | MouseEvent) {
        this.calculatePosition(event)
        this.show = true
    }

}

export function newMenu() {
    return ref(new MenuController())
}

</script>

<template>
    <Teleport to=".am-menu-overlay" v-if="props.controller.isOpen">
        <div class="am-menu-shrim" @click="closeMenu()"></div>
        <nav class="am-menu" role="menu" :style="cssPosition" ref="el" tabindex='0'>
            <MenuItem
                v-for="item, index in items"
                v-bind="item"
                :focussed="index == focussedIndex"
                @close="closeMenu()"
                ></MenuItem>
        </nav>
    </Teleport>
</template>

<style lang="scss">
@use '@am/theme/colors.module.scss' as colors;
@use '@am/theme/controls.module.scss' as controls;

.am-menu-shrim {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0,0,0,0.3);
    animation: menushrim 0.2s ease-in-out forwards;
}

.am-menu {
    display: inline-flex;
    position: absolute;

    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    gap: var(--units-base);

    min-width: calc(var(--units-base) * 50);
    max-width: calc(var(--units-base) * 75);
    
    overflow: hidden;

    padding: var(--units-base) var(--units-base);
    border-radius: var(--units-control-corner);

    animation: menu 0.2s ease-in-out forwards;

    @include colors.apply-shade('a', 300);
    @include controls.elevate(2);

    @include colors.dark-theme {
        @include colors.apply-shade('a', 2400);
    }

}

@keyframes menu {
    from {
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    }
    to {
        transform: scaleY(1);
        
        opacity: 1;
    }
}
@keyframes menushrim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
</style>