<script setup lang="ts">
import IconCell from '@am/cells/IconCell.vue';
import TextCell from '@am/cells/TextCell.vue';
import { useActionBus } from '@am/traits/ActionBus';
import Menu, { newMenu } from './Menu.vue';
import { ChevronLeft, ChevronDown } from 'lucide-vue-next';
import { MenuItemProps } from './MenuItem.t';

const actionBus = useActionBus()
const emit = defineEmits<{
    (e: 'close'): void
}>()
const props = defineProps<MenuItemProps>()

const submenuController = newMenu()

function handleAction(event: MouseEvent | PointerEvent) {
    if (props.submenu != undefined) {
        if (submenuController.value.isOpen) {
            submenuController.value.close()
        } else {
            submenuController.value.open(event)
        }
    } else {
        actionBus.send(props.onTap, props.actionData, event)
        emit('close')
    }
}

</script>

<template>
    <component
        v-if="props.item"
        :is="props.item"
        v-bind="props">
    </component>
    <div
        v-else 
        class="am-menu-item" 
        @click="handleAction">
        <component
            v-if="props.cell"
            :is="props.cell"
            v-bind="props"></component>
        <IconCell v-if="!props.cell && props.icon" v-bind="props"></IconCell>
        <TextCell v-if="!props.cell" v-bind="props"></TextCell>
        <IconCell v-if="!props.cell && props.submenu != undefined" :icon="submenuController.isOpen ? ChevronDown : ChevronLeft" class="am-menu-item-more"></IconCell>
        <Menu v-if="props.submenu" :items="props.submenu" :controller="submenuController"></Menu>
    </div>
</template>

<style lang="scss">
@use '@am/theme/colors.module.scss' as colors;
@use '@am/theme/controls.module.scss' as controls;

.am-menu-item {
    @include controls.control();
    justify-content: flex-start;
    border: var(--units-control-border) solid transparent;

    svg {
        flex-shrink: 0;
    }

    overflow: hidden;

    &[focussed="true"] {
        border-color: colors.shade('a', 1000);
    }

    &:hover {
        @include colors.apply-shade('a', 600);
    }

    .am-menu-item-more {
        margin-left: calc(4 * var(--units-base));
    }

    @include colors.dark-theme { 
        &:hover {
            @include colors.apply-shade('a', 2000);
        }
    }

    svg {
        height: 1em;
    }
}
</style>