<script setup lang="ts">
import { useNavigationGraph, type NavigationGraph } from '@am/traits/NavigationGraph';
import { computed } from 'vue';

const navigationGraph = useNavigationGraph()
const props = defineProps<{
    graph: NavigationGraph,
}>()
const subGraph = computed(() => {
    return props.graph
})
navigationGraph.provideSubGraph(subGraph)
</script>

<template>
    <slot></slot>
</template>