<script setup lang="ts">
import { useActionBus } from '@am/traits/ActionBus';
import type { Component } from 'vue';


const actionBus = useActionBus()

const props = defineProps<{
    resolveView: (view: string) => Component | undefined,
}>()


</script>

<template>
    <div class="am-navigation-child">
    </div>
</template>

<style lang="scss">
</style>