<script setup lang="ts">
import { match, useActionBus } from '@am/traits/ActionBus';
import type { StackHint } from '@am/traits/Navigation';
import { useNavigationGraph, type NavigationContext, type NavigationGraph } from '@am/traits/NavigationGraph';
import { computed } from 'vue';

const actionBus = useActionBus()
const navigationGraph = useNavigationGraph()

const navigationContexts = computed(() => {
    const list = <NavigationContext[]>[]
    for (const context of navigationGraph.graph.value) {
        const hints = context.hints.map(h => typeof h == 'string' ? h : h.hint)
        if (hints.includes('stack')) break
        list.push(context)
    }
    return list
})

const nextStackScaffolding = computed(() => {
    if (navigationContexts.value.length == 0) return undefined
    if (navigationGraph.graph.value.length == navigationContexts.value.length) return undefined
    const nextContext = navigationGraph.graph.value[navigationContexts.value.length]
    const stackHint = nextContext.hints
        .filter(h => typeof h != 'string')
        .filter(h => h.hint == 'stack') as StackHint[]
    if (stackHint.length == 0) return undefined
    return stackHint[0].scaffolding
})

const navigationFrames = computed(() => {
    return navigationContexts.value.map(c => c.frames).flat()
})

const remainingGraph = computed(() => {
    const dropContexts = navigationContexts.value.length
    const subgraph = <NavigationGraph>JSON.parse(JSON.stringify(navigationGraph.graph.value.slice(dropContexts)))
    if (subgraph.length != 0) subgraph[0].hints = []
    return subgraph
})

navigationGraph.provideSubGraph(remainingGraph)

</script>

<template>
    <div class="am-navigation-stack">
        <div class="am-navigation-frame"
            v-for="frame in navigationFrames"
            >
            <component
                :is="navigationGraph.resolveView(frame.view)"
                v-bind="frame.data"
                ></component>
        </div>
        <div v-if="nextStackScaffolding" class="am-navigation-frame">
            <component
                :is="navigationGraph.resolveView(nextStackScaffolding)"
                ></component>
        </div>
    </div>
</template>

<style lang="scss">
.am-navigation-stack {
    display: block;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .am-navigation-frame {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &:last-child {
            display: block;
        }
    }
}
</style>