<script setup lang="ts">
import type { PlacesHint } from '@am/traits/Navigation';
import { useNavigationGraph } from '@am/traits/NavigationGraph';
import { computed } from 'vue';
import NavigationBranch from './NavigationBranch.vue';
import NavigationStack from './NavigationStack.vue';

const navigationGraph = useNavigationGraph()

const navigationContext = computed(() => {
    if (navigationGraph.graph.value.length < 1) return undefined
    const firstContext = navigationGraph.graph.value[0]
    const hints = firstContext.hints.map(h => typeof h == 'string' ? h : h.hint)
    if (hints.includes('places')) {
        return firstContext
    } else {
        return undefined
    }
})
const remainingGraph = computed(() => {
    if (navigationContext.value == undefined) return navigationGraph.graph.value
    else return navigationGraph.graph.value.slice(1)
})

const stackEmpty = computed(() => {
    return remainingGraph.value.length == 0
})

const emptyView = computed(() => {
    if (navigationContext.value == undefined) return undefined
    const hint = navigationContext.value.hints.filter(h => typeof h != 'string' && h.hint == 'places')[0] as PlacesHint
    return navigationGraph.resolveView(hint.emptyView)
})

navigationGraph.provideSubGraph(remainingGraph)

</script>

<template>
    <div class="am-places-view">
        <div class="am-places-view-base">
            <NavigationBranch :graph="navigationContext ? [navigationContext] : []">
                <NavigationStack></NavigationStack>
            </NavigationBranch>
        </div>
        <div class="am-places-view-stack am-places-view-stack-empty" v-if="stackEmpty && emptyView">
            <component :is="emptyView"></component>
        </div>
        <div class="am-places-view-stack" v-if="!stackEmpty">
            <slot></slot>
        </div>
    </div>
    
</template>

<style lang="scss">
@use '@am/theme/colors.module.scss' as colors;
.am-places-view {
    display: block;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .am-places-view-base,
    .am-places-view-stack {
        display: block;
        position: absolute;

        width: 100%;
        height: 100%;

        background: var(--container-background);
    }

    .am-places-view-stack-empty {
        display: none;
    }
}

@media (min-width: 650px) and (min-height: 200px) {
    .am-places-view {
        display: flex;
        position: absolute;

        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        bottom: calc(-1 * var(--units-safe-bottom));

        .am-places-view-base {
            display: block;
            position: relative;

            width: 40%;
            min-width: 300px;
            max-width: 350px;
            flex-shrink: 0;

            border-right: 1px solid colors.shade('a', 700);
            @include colors.dark-theme {
                border-right-color: colors.shade('a', 2300);
            }
        }

        .am-places-view-stack {
            display: block;
            position: relative;

            flex-grow: 1;
        }

        .am-places-view-stack-empty {
            display: block;
        }

    }
}

</style>