<script setup lang="ts">
import { computed, ref } from 'vue';
import { ScaffoldingProps } from './Scaffolding.t';

const props = withDefaults(defineProps<ScaffoldingProps>(), {
    toolbar: false,
    header: false,
    padContent: true,
    scrollContent: true,
})

const components = computed(() => {
    let components = []
    if (props.toolbar) components.push('toolbar')
    if (props.header == 'hero') components.push('hero-header')
    return components.join(' ')
})

const body = ref<HTMLDivElement|undefined>(undefined)
const scrollOffset = ref(0)

function contentScrolled() {
    scrollOffset.value = body.value?.scrollTop ?? 0
}

</script>

<template>
    <div class='am-scaffolding' :show-components="components" :class="{'am-scrolled-top': scrollOffset <= 0}">
        <slot name="toolbar" v-if="props.toolbar"></slot>
        <slot name="header" v-if="props.header"></slot>
        <main 
            ref="body"
            :class='{"pad-content": props.padContent, "scroll-content": props.scrollContent}'
            @scroll="contentScrolled"
            >
            <slot :scroll-offset="scrollOffset"></slot>
        </main>
    </div>
</template>

<style lang="scss">
.am-scaffolding {
    display: block;

    main {
        display: block;
        position: absolute;
        top: 0;
        top: calc(var(--units-safe-top));
        left: 0;
        left: calc(var(--units-safe-left));
        right: 0;
        right: calc(var(--units-safe-right));
        bottom: 0;
        overflow: hidden;

        &.pad-content {
            padding: var(--units-control-pad-v) var(--units-control-pad-h);
        }
        &.scroll-content {
            overflow-y: auto;
            overscroll-behavior: contain;
        }
    }

    & > header {
        position: absolute;
        top: 0;
        top: var(--units-safe-top);
        left: 0;
        right: 0;
    }

    & > .am-toolbar {
        position: absolute;
        top: var(--units-safe-top);
    }

    &.am-scrolled-top > .am-toolbar {
        border-bottom-color: transparent;
    }

    &[show-components~="toolbar"] {
        main {
            top: calc(var(--units-control-base) + 2 * var(--units-control-pad-v) + 1px + var(--units-safe-top));
        }
    }
    &[show-components~="hero-header"] {
        main {
            top: calc(2.5 * var(--units-control-base) + 2 * var(--units-control-pad-v) + 1px + var(--units-safe-top));
        }
    }
}
</style>