<script setup lang="ts">
import ActionButton from '@am/controls/ActionButton.vue';
import MenuButton from '@am/controls/MenuButton.vue';
import PulldownButton from '@am/controls/PulldownButton.vue';
import SelectionButton from '@am/controls/SelectionButton.vue';
import ToggleButton from '@am/controls/ToggleButton.vue';
import type { ToolbarAction } from './Toolbar.t';


const props = defineProps<{
    actions?: ToolbarAction[]
}>()

function getControl(type: ToolbarAction["actionType"]) {
    switch (type) {
        case 'button':
            return ActionButton
        case 'menu':
            return MenuButton
        case 'toggle':
            return ToggleButton
        case 'selection':
            return SelectionButton
        case 'pulldown':
            return PulldownButton
    }
}

</script>

<template>
    <nav class="am-toolbar-group" role="group">
        <slot>
            <component 
                v-for="action in props.actions" 
                :is="getControl(action.actionType)"
                v-bind="action"
            ></component>
        </slot>
    </nav>
</template>

<style lang="scss">
@use '@am/theme/colors.module.scss' as colors;

.am-toolbar-group {
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    gap: var(--units-control-spacing);
    flex-wrap: wrap;
    overflow: hidden;
    height: 100%;

    padding: var(--units-control-pad-v) var(--units-base);

    min-width: calc(var(--units-control-base-width) + 2 * var(--units-base));

    &.merge {
        column-gap: var(--units-hairline);
        .am-button {
            border-radius: 0;
            &:first-child {
                border-radius: var(--units-control-corner) 0 0 var(--units-control-corner);
            }
            &:last-child {
                border-radius: 0 var(--units-control-corner) var(--units-control-corner) 0;
            }
            &:hover {
                z-index: 2;
            }
        }
    }

}

.am-toolbar {
    & > .am-toolbar-group:first-child {
        justify-content: flex-start;
        flex-shrink: 0;
    }

    & > .am-toolbar-group:last-child {
        justify-content: flex-end;
        flex-shrink: 0;
    }
}
</style>