<script setup lang="ts">

</script>

<template>
    <nav 
        class="am-toolbar"
        role="toolbar"
        >
        <slot></slot>
        </nav>
</template>

<style lang="scss">
@use '@am/theme/colors.module.scss' as colors;

.am-toolbar {
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--units-control-spacing);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: calc(var(--units-control-base) + 2 * var(--units-control-pad-v) + 1px);

    padding: 0 var(--units-control-pad-h);

    border-bottom: 1px solid colors.shade('a', 700);

    @include colors.dark-theme {
        border-bottom-color: colors.shade('a', 2300);
    }

    .am-button {
        min-width: auto;
    }

}
</style>