@use "sass:color";
@use "sass:math";

@mixin generate-shades($color, $name) {

    $tinted-grey: color.mix($color, #949494, 10%);
    $text-white: color.scale($tinted-grey, $lightness: 75%);
    $text-black: color.scale($tinted-grey, $lightness: -75%);

    --scheme-#{$name}-#{500}: #{$color};
    --scheme-#{$name}-#{500}-t: #{contrast-color($color, $text-white, $text-black)};
    @for $i from 1 through 5 {

        $shade: color.scale($color, $lightness: $i * 15%, $saturation: $i * 3%);
        //--scheme-#{$name}-#{(5 - $i) * 100}: #{color.scale($color, $lightness: $i * 15%)};

        --scheme-#{$name}-#{(5 - $i) * 100}: #{$shade};

        --scheme-#{$name}-#{(5 - $i) * 100}-t: #{contrast-color($shade, $text-white, $text-black)};
    }
    @for $i from 1 through 5 {
        $shade: color.scale($color, $lightness: $i * -15%, $saturation: $i * 3%);
        // --scheme-#{$name}-#{(5 + $i) * 100}: #{color.scale($color, $lightness: $i * -15%)};

        --scheme-#{$name}-#{(5 + $i) * 100}: #{$shade};

        --scheme-#{$name}-#{(5 + $i) * 100}-t: #{contrast-color($shade, $text-white, $text-black)};
    }

    $shade: color.scale($color, $lightness: 5 * 15%, $saturation: 5 * 3%);
    --scheme-#{$name}-#{50}: #{$shade};
    --scheme-#{$name}-#{50}-t: #{contrast-color($shade, $text-white, $text-black)};

}

@mixin generate-greys($color, $name) {
    $base: color.mix($color, #949494, 10%);
    $text-white: color.scale($base, $lightness: 75%);
    $text-black: color.scale($base, $lightness: -75%);

    --scheme-#{$name}-s-#{1500}: #{$base};
    --scheme-#{$name}-s-#{1500}-t: #{contrast-color($base, $text-white, $text-black)};
    @for $i from 1 through 14 {
        $shade: color.scale($base, $lightness: $i * 6%, $saturation: $i * 0.125%);
        --scheme-#{$name}-s-#{(15 - $i) * 100}: #{$shade};
        --scheme-#{$name}-s-#{(15 - $i) * 100}-t: #{contrast-color($shade, $text-white, $text-black)};
    }
    @for $i from 1 through 14 {
        $shade: color.scale($base, $lightness: $i * -6%, $saturation: $i * 0.125%);
        --scheme-#{$name}-s-#{(15 + $i) * 100}: #{$shade};
        --scheme-#{$name}-s-#{(15 + $i) * 100}-t: #{contrast-color($shade, $text-white, $text-black)};
    }
}

@mixin generate-theme($base) {

    $b: color.adjust($base, $hue: 40deg);
    $c: color.adjust($base, $hue: -40deg);

    @include generate-shades($base, "a");
    @include generate-shades(color.adjust($base, $saturation: -15%), "a-dimmed");
    @include generate-greys($base, "a");

    @include generate-shades($b, "b");
    @include generate-shades(color.adjust($b, $saturation: -15%), "b-dimmed");
    @include generate-greys($b, "b");

    @include generate-shades($c, "c");
    @include generate-shades(color.adjust($c, $saturation: -15%), "c-dimmed");
    @include generate-greys($c, "c");

    @include generate-shades(color.mix($base, #bf4040, 50%), "danger");
    @include generate-shades(color.mix($base, #206020, 50%), "success");

    @include generate-shades(color.adjust($base, $alpha: -0.6), "a-transparent");
}

@function contrast($a, $b) {
    @return math.abs(color.lightness($a) - color.lightness($b));
}

@function contrast-color($base, $white, $black) {
    @if (contrast($base, $white) > 50%) {
        @return $white;
    } @else if (contrast($base, $black) > 50%) {
        @return $black;
    } @else if (contrast($base, white) > 50%) {
        @return white;
    } @else {
        @return black;
    }
}

@mixin theme-blue {
    $base: #3D4D6E;
    @include generate-theme($base);
}
@mixin theme-red {
    $base: #A34F50;
    @include generate-theme($base);
}
@mixin theme-yellow {
    $base: #A59550;
    @include generate-theme($base);
}
@mixin theme-green {
    $base: #346662;
    @include generate-theme($base);
}
@mixin theme-pink {
    $base: #823F68;
    @include generate-theme($base);
}
@mixin theme-purple {
    $base: #493E71;
    @include generate-theme($base);
}

@mixin danger {
    @include theme-red;
}
@mixin warning {
    @include theme-yellow;
}
@mixin success {
    @include theme-green;
}

@function color($name, $weight) {
    @return var(--scheme-#{$name}-#{$weight});
}

@function shade($name, $weight) {
    @return var(--scheme-#{$name}-s-#{$weight});
}

@mixin apply-color($name, $weight) {
    $name: --scheme-#{$name}-#{$weight};
    background: var(#{$name});
    color: var(#{$name}-t);
    --container-background: var(#{$name});
    --container-color: var(#{$name}-t);
}

@mixin apply-shade($name, $weight) {
    $name: --scheme-#{$name}-s-#{$weight};
    background: var(#{$name});
    color: var(#{$name}-t);
    --container-background: var(#{$name});
    --container-color: var(#{$name}-t);
}

@mixin dark-theme {
    @media (prefers-color-scheme: dark) {
        @content;
    }
    [theme=dark] {
        @content;
    }
}