@mixin control() {
    display: inline-flex;
    position: relative;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: default;
    user-select: none;


    gap: var(--units-control-spacing);

    padding: var(--units-control-pad-v) var(--units-control-pad-h);
    height: var(--units-control-base);
    border-radius: var(--units-control-corner);
}

@mixin elevate($level) {
    box-shadow: 0 0px #{$level * 2px} rgba(0,0,0,0.5);
}