@mixin init() {
    font: var(--units-text)/1.1 "Ubuntu","Helvetica","Arial",sans-serif;
}

@mixin strong() {
    font-weight: 700;
}

@mixin lead() {
    line-height: 1.5;
}

@mixin title() {
    font-size: calc(var(--units-text) * 1.2);
}

@mixin secondary() {
    font-size: calc(var(--units-text) * 0.8);
}

@mixin hero() {
    font-size: calc(var(--units-text) * 2);
    font-weight: 700;
}

@mixin heading() {
    font-size: calc(var(--units-text) * 2);
    font-weight: 700;
}