@use "./colors.module.scss" as colors;
@use "./units.module.scss" as units;
@use "./font.module.scss" as font;

* {
    box-sizing: border-box;
}

:root {
    --units-safe-top: env(safe-area-inset-top);
    --units-safe-left: env(safe-area-inset-left);
    --units-safe-right: env(safe-area-inset-right);
    --units-safe-bottom: env(safe-area-inset-bottom);
}

html {
    min-height: calc(100% + env(safe-area-inset-top));
}

body {
    @include units.units(4px);
    @include units.controls();
    @include font.init();
    @include colors.theme-green;

    @include colors.apply-shade('a', 400);

    font-size: var(--units-text);

    height: 100%;
    overflow: hidden;

    @include colors.dark-theme {
        @include colors.apply-shade('a', 2600);
    }

}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.am-danger {
    @include colors.danger;
}
.am-warning {
    @include colors.warning;
}
.am-success {
    @include colors.success;
}
