@mixin units($base) {
    --units-hairline: 1px;
    --units-base: #{$base};
    --units-double: #{$base * 2};
}

@mixin controls() {
    --units-text: calc(var(--units-base) * 4);
    --units-control-base: calc(var(--units-base) * 10);
    --units-control-border: calc(var(--units-base) / 2);
    --units-control-pad-h: calc(var(--units-base) * 4);
    --units-control-pad-v: calc(var(--units-base) * 2);
    --units-control-corner: calc(var(--units-base) * 2);
    --units-control-spacing: calc(var(--units-base) * 2);
    --units-control-base-width: calc(var(--units-base) * 25)
}