<script setup lang="ts">
import { computed, onMounted, ref, watch } from "vue";
import type { Icon, IconCellProps } from "./IconCell.t";

const props = defineProps<IconCellProps & {class?: string}>()
const size = computed(() => `${props.iconSize ?? 24}px`)

enum IconAnimation {
    None,
    Out,
    In,
}

const currentIcon = ref<Icon|undefined>(undefined)
const currentAnimation = ref(IconAnimation.None)

const classes = computed(() => {
    let classes = props.class ?? ""
    switch(currentAnimation.value) {
        case IconAnimation.In: return `${classes} am-animation-in`
        case IconAnimation.Out: return `${classes} am-animation-out`
    }
})

onMounted(() => {
    currentIcon.value = props.icon
})

watch(() => props.icon, (newIcon) => {
    console.log('swap icon')
    currentAnimation.value = IconAnimation.Out
    setTimeout(() => {
        currentAnimation.value = IconAnimation.In
        currentIcon.value = newIcon
        setTimeout(() => {
            currentAnimation.value = IconAnimation.None
        }, 200)
    }, 200)
    
})

</script>

<script lang="ts">
export default {
    inheritAttrs: false,
}
</script>

<template>
    <component 
        v-if="currentIcon"
        class="am-icon am-animated-icon"
        :class="classes"
        :width="size"
        :height="size"
        :is="currentIcon">
    </component>
</template>

<style lang="scss">
.am-animated-icon {
    &.am-animation-in {
        animation: 0.2s ease-in-out am-icon-animation-in forwards;
    }
    &.am-animation-out {
        animation: 0.2s ease-in-out am-icon-animation-out forwards;
    }
}

@keyframes am-icon-animation-in {
    from {
        transform: scale(30%);
    }
    to {
        transform: scale(1);
    }
}
@keyframes am-icon-animation-out {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(30%);
    }
}
</style>