<script setup lang="ts">
import { computed } from "vue";

import type { AccessibilityProps } from "@am/traits/Accessibility.t";
import { getText } from "@am/traits/l18n";
import type { IconCellProps } from "./IconCell.t";

const props = defineProps<
    IconCellProps 
    & AccessibilityProps
    & {class?: string}>()
const size = computed(() => `${props.iconSize ?? 24}px`)
const altText = getText(computed(() => props.altKey), computed(() => props.alt))

</script>

<script lang="ts">
export default {
    inheritAttrs: false,
}
</script>

<template>
    <component 
        v-if="props.icon"
        class="am-icon"
        :width="size"
        :height="size"
        :class="props.class"
        :is="props.icon"
        :aria-label="altText"
        >
    </component>
</template>