<script setup lang="ts">
import type { TextCellProps } from './TextCell.vue';
import TextCell from './TextCell.vue';

const props = defineProps<TextCellProps>()

</script>

<template>
    <TextCell v-bind="props"></TextCell>
</template>