<script setup lang="ts">

import type { AccessibilityProps } from "@am/traits/Accessibility.t";
import { getText } from '@am/traits/l18n';
import { computed } from 'vue';
import { TextCellProps } from './TextCell.t';

const props = defineProps<
    TextCellProps 
    & AccessibilityProps
    & { 
        class?: string 
    }
>()

const text = getText(computed(() => props.textKey), computed(() => props.text))
const tooltip = getText(computed(() => props.tooltipKey), computed(() => props.tooltip))
const elementType = computed(() => {
    if (props.kind == undefined) return 'span'
    switch (props.kind) {
        case 'heading': return 'h1'
        case 'h2': return 'h2'
        case 'h3': return 'h3'
        case 'title': return 'h4'
        case 'strong': return 'strong'
        default: return 'span'
    }
})
const styleClasses = computed(() => {
    switch (props.kind) {
        case 'title': return 'am-title'
        case 'strong': return 'am-strong'
        case 'secondary': return 'am-secondary'
        default: return ''
    }
})
const classes = computed(() => {
    return `${props.class ?? ''} ${styleClasses.value} ${props.lead ? 'am-lead' : ''}`
})
</script>

<script lang="ts">
export default {
    inheritAttrs: false,
}
</script>

<template>
    <component
        :is="elementType"
        class='am-cell-text am-text-cell' 
        :class="classes"
        :title="tooltip">
        {{ formatter ? formatter(text) : text }}
    </component>
</template>

<style scoped lang="scss">
@use '@am/theme/font.module.scss' as font;
.am-text-cell {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.am-hero {
        @include font.hero;
    }
    &.am-strong {
        @include font.strong;
    }
    &.am-title {
        @include font.title;
    }
    &.am-secondary {
        @include font.secondary;
    }
    &.am-lead {
        @include font.lead;
        white-space: normal;
        overflow: inherit;
    }
}
h1.am-text-cell {
    @include font.heading;
}
</style>