<script setup lang="ts">
import BaseButton from './BaseButton.vue';
import { type ButtonProps } from './BaseButton.t';

const props = defineProps<ButtonProps>()

</script>

<template>
    <BaseButton 
        class="am-button-action"
        v-bind="props"
        >
        <slot></slot>
    </BaseButton>
</template>

<style lang="scss">
@use "@am/theme/colors.module.scss" as colors;
@use "@am/theme/controls.module.scss" as controls;

.am-button-action {
    @include colors.apply-shade('a', 1000);
    border: var(--units-control-border) solid var(--container-background);
    min-width: var(--units-control-base-width);

    &:hover {
        @include colors.apply-shade('a', 800);
        @include controls.elevate(2);
    }

    &:active, &:focus {
        @include colors.apply-shade('a', 800);
        border-color: var(--scheme-a-s-1400);
    }

    @include colors.dark-theme {

        @include colors.apply-shade('a', 2000);

        &:hover {
            @include colors.apply-shade('a', 1800);
        }

        &:active, &:focus {
            @include colors.apply-shade('a', 1800);
            border-color: var(--scheme-a-s-1200);
        }
    }
}
</style>