<script setup lang="ts">
import TextCell from '@am/cells/TextCell.vue';
import IconCell from '@am/cells/IconCell.vue';
import { useActionBus } from '@am/traits/ActionBus';
import { ButtonProps } from './BaseButton.t';

const props = defineProps<ButtonProps>()

const actionBus = useActionBus()

function handleKeyboard(event: KeyboardEvent) {
    if (event.key == ' ' || event.key == 'Enter') {
        actionBus.send(props.onTap, props.actionData, event)
    }
}

function handleClick(event: MouseEvent) {
    // Prevent automatic form submissions
    event.preventDefault()
    event.stopPropagation()
    if (props.disabled) return
    actionBus.send(props.onTap, props.actionData, event)
}

function handleContext(event: MouseEvent) {
    event.preventDefault()
    if (props.disabled) return
    actionBus.send(props.onContext, props.actionData, event)
}

</script>

<template>
    <button 
        class="am-button" 
        tabindex="0" 
        :disabled="disabled"
        @click="handleClick"
        @contextmenu="handleContext"
        @keydown="handleKeyboard"
        >
        <slot>
            <IconCell v-if="props.icon" v-bind="props"></IconCell>
            <TextCell v-if="props.text || props.textKey" v-bind="props"></TextCell>
        </slot>
    </button>
</template>
<style lang="scss">
@use "@am/theme/font.module.scss" as font;
@use "@am/theme/units.module.scss" as units;
@use "@am/theme/colors.module.scss" as colors;
@use "@am/theme/controls.module.scss" as controls;

.am-button {
    @include controls.control();
    @include font.init();

    appearance: none;
    position: relative;
    
    background: var(--container-background);
    color: var(--container-color);
    border: var(--units-control-border) solid var(--container-background);

    transition: 0.3s ease-in-out;
    
    svg {
        height: 100%;
        width: auto;
        color: var(--container-color);
        flex-shrink: 0;
    }

    &:hover {
        @include colors.apply-shade('a', 800);
    }

    &:active, &:focus {
        @include colors.apply-shade('a', 800);
        border-color: colors.shade('a', 1400);
        outline: none;
    }

    &:disabled {
        opacity: 0.5;
    }

}
</style>