<script setup lang="ts">
</script>

<template>
    <input 
        class="am-checkbox"
        type="checkbox" />
</template>

<style lang="scss">

.am-checkbox {
    accent-color: var(--scheme-a-500);
    height: calc(var(--units-base) * 4);
}
</style>