<script setup lang="ts">
import TextCell from '@am/cells/TextCell.vue';
import IconCell from '@am/cells/IconCell.vue';
import { ChevronDown } from 'lucide-vue-next';
import { useActionBus, type Action } from '@am/traits/ActionBus';

const actionBus = useActionBus()

const props = defineProps<{
    documentTitle: string,
    documentSubtitle?: string,
    onTap?: Action,
    onContext?: Action,
    actionData?: any,
}>()

function handleKeyboard(event: KeyboardEvent) {
    if (event.key == ' ' || event.key == 'Enter') {
        actionBus.send(props.onTap, props.actionData, event)
    }
}

</script>

<template>
    <div 
        class="am-document-button" 
        tabindex="0"
        @click="actionBus.send(props.onTap, props.actionData, $event)"
        @contextmenu="actionBus.send(props.onContext, props.actionData, $event)"
        @keydown="handleKeyboard"
        >
        <span class="am-document-button-title">
            <TextCell 
                kind="heading"
                :text="props.documentTitle"
            ></TextCell>
            <span class="am-document-icon">
                <IconCell :icon="ChevronDown"></IconCell>
            </span>
        </span>
        <TextCell 
            v-if="props.documentSubtitle"
            class="am-document-button-subtitle" 
            :text="props.documentSubtitle"
        ></TextCell>
    </div>
</template>

<style lang="scss">
@use '@am/theme/controls.module.scss' as controls;
@use '@am/theme/colors.module.scss' as colors;
@use '@am/theme/font.module.scss' as font;

.am-document-button {
    @include controls.control();
    display: inline-flex;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: var(--units-control-pad-v);
    border: var(--units-control-border) solid var(--container-background);

    gap: var(--units-base);

    .am-document-button-title {
        display: inline-flex;

        flex-direction: row;
        justify-content: center;
        align-items: center;

        h1 {
            @include font.title;
            @include font.strong;
            line-height: 0.9em;
        }

        .am-document-icon {
            height: 1em;
            width: 1em;

            svg {
                height: 1em;
            }

        }
        
    }

    .am-document-button-subtitle {
        @include font.secondary;
        overflow: visible;
    }

    &:hover {
        @include colors.apply-shade('a', 800);
        @include controls.elevate(2);
    }

    &:active, &:focus {
        @include colors.apply-shade('a', 800);
        border-color: colors.shade('a', 1400);
        outline: none;
    }

    @include colors.dark-theme {

        &:hover {
            @include colors.apply-shade('a', 1800);
        }

        &:active, &:focus {
            @include colors.apply-shade('a', 1800);
            border-color: var(--scheme-a-s-1200);
        }
    }

}
</style>