<script setup lang="ts">
import BaseButton from './BaseButton.vue';
import { type ButtonProps } from './BaseButton.t';

const props = defineProps<ButtonProps>()

</script>

<template>
    <BaseButton 
        class="am-button-fab"
        v-bind="props"
        >
        <slot></slot>
    </BaseButton>
</template>

<style lang="scss">
@use "@am/theme/colors.module.scss" as colors;
@use "@am/theme/controls.module.scss" as controls;

.am-button.am-button-fab {
    @include colors.apply-color('a', 500);

    position: absolute;
    right: calc(var(--units-control-pad-h) + var(--units-safe-right));
    bottom: calc(var(--units-control-pad-h) + var(--units-safe-bottom));

    width: calc(1.2 * var(--units-control-base));
    height: calc(1.2 * var(--units-control-base));

    border-color: var(--container-background);
    border-radius: calc(2 * var(--units-control-corner));

    @include controls.elevate(2);

    &:hover {
        @include colors.apply-color('a', 400);
        @include controls.elevate(2);
    }

    &:active, &:focus {
        @include colors.apply-color('a', 400);
        border-color: colors.color('a', 700);
    }

    @include colors.dark-theme {
        &:active, &:focus {
            border-color: colors.color('a', 100);
        }
    }

}
</style>