<script setup lang="ts">
import BaseButton from './BaseButton.vue';
import { type ButtonProps } from './BaseButton.t';
import IconCell from '@am/cells/IconCell.vue';

const props = defineProps<ButtonProps>()
</script>

<template>
    <BaseButton 
        class="am-icon-button"
        v-bind="props"
        >
        <IconCell 
            v-if="props.icon" 
            v-bind="props" 
            :alt="props.alt ?? props.text" 
            :altKey="props.altKey ?? props.textKey"
            ></IconCell>
    </BaseButton>
</template>

<style lang="scss">
@use "@am/theme/colors.module.scss" as colors;
@use "@am/theme/controls.module.scss" as controls;

.am-icon-button {
    // @include colors.apply-shade('a', 1000);
    // border: var(--units-control-border) solid var(--container-background);

    padding: var(--units-control-pad-v);
    aspect-ratio: 1;
    border-radius: 100%;

    &:hover {
        @include colors.apply-shade('a', 800);
        @include controls.elevate(2);
    }

    &:active, &:focus {
        @include colors.apply-shade('a', 800);
        border-color: var(--scheme-a-s-1400);
    }

    @include colors.dark-theme {

        // @include colors.apply-shade('a', 2000);

        &:hover {
            @include colors.apply-shade('a', 1800);
        }

        &:active, &:focus {
            @include colors.apply-shade('a', 1800);
            border-color: var(--scheme-a-s-1200);
        }
    }
}
</style>