<script setup lang="ts">
const props = defineProps<{
    steps: number,
    currentStep: number,
}>()
</script>

<template>
    <div class="am-pager" :aria-label="`Step ${currentStep} of ${steps}`">
        <span 
            v-for="n in steps" 
            :class="{active: n == currentStep}"
            role="presentation"
            aria-hidden="true"
            ></span>
    </div>
</template>

<style lang="scss">
@use "@am/theme/colors.module.scss" as colors;
.am-pager {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: calc(2 * var(--units-base));

    height: calc(4 * var(--units-base));
    padding: var(--units-pad-v) var(--units-pad-h);

    & > span {
        display: block;
        content: "";
        font-size: 0;
        overflow: hidden;

        height: calc(3 * var(--units-base));
        aspect-ratio: 1;
        border-radius: calc(1.5 * var(--units-base));

        transition: 0.3s ease-in-out;

        @include colors.apply-shade('a', 900);

        &.active {
            @include colors.apply-shade('a', 1500);
            aspect-ratio: 2/1;
        }

        @include colors.dark-theme {
            @include colors.apply-shade('a', 1800);

            &.active {
                @include colors.apply-shade('a', 1200);
            }
        }
    }
}
</style>