<script setup lang="ts">
import BaseButton from './BaseButton.vue';
import { type ButtonProps } from './BaseButton.t';

const props = defineProps<ButtonProps>()

</script>

<template>
    <BaseButton 
        class="am-button-primary"
        v-bind="props"
        >
        <slot></slot>
    </BaseButton>
</template>

<style lang="scss">
@use "@am/theme/colors.module.scss" as colors;
@use "@am/theme/controls.module.scss" as controls;

.am-button.am-button-primary {
    @include colors.apply-color('a', 500);
    border-color: var(--container-background);
    min-width: var(--units-control-base-width);

    &:hover {
        @include colors.apply-color('a', 400);
        @include controls.elevate(2);
    }

    &:active, &:focus {
        @include colors.apply-color('a', 400);
        border-color: colors.color('a', 700);
    }

    @include colors.dark-theme {
        &:active, &:focus {
            border-color: colors.color('a', 100);
        }
    }

}
</style>