<script setup lang="ts">import { computed, ref } from 'vue';
const props = defineProps<{
    percentage?: number | undefined,
}>()

const style = computed(() => {
    if (props.percentage == undefined) return {}
    const p = Math.max(0, Math.min(100, props.percentage))
    return {
        width: `${p}%`
    }
})
</script>

<template>
    <div class='am-progress-bar' :class="{indefinite: percentage == undefined}">
        <span :style="style"></span>
    </div>
</template>

<style lang="scss">
@use '@am/theme/colors.module.scss' as colors;
.am-progress-bar {
    display: block;
    position: relative;
    
    height: calc(2 * var(--units-base));
    border-radius: calc(1 * var(--units-base));

    overflow: hidden;

    @include colors.apply-shade('a', 1000);

    span {
        display: block;
        position: absolute;

        content: '';

        left: 0;
        top: 0;
        bottom: 0;
        border-radius: calc(1 * var(--units-base));

        @include colors.apply-shade('a', 1600);
    }

    &.indefinite {
        span {
            animation: am-progress-bar-indefinite 2s linear infinite;
        }
    }

    @include colors.dark-theme {
        @include colors.apply-shade('a', 2000);
        span {
            @include colors.apply-shade('a', 1200);
        }
    }
}
@keyframes am-progress-bar-indefinite {
    0% {
        left: 0%;
        width: 0%;
    }
    30% {
        width: 60%;
    }
    100% {
        left: 100%;
        width: 0%;
    }
}
</style>