<script setup lang="ts">
import IconCell from '@am/cells/IconCell.vue';
import TextCell from '@am/cells/TextCell.vue';
import ActionButton from './ActionButton.vue';
import type { ButtonProps } from './BaseButton.t';
import {ChevronDown} from 'lucide-vue-next';

const props = defineProps<ButtonProps>()
</script>

<template>
    <ActionButton 
        class='am-pulldown-button' 
        v-bind="props"
        >
        <span class="am-pulldown-button-content">
            <slot>
                <IconCell v-if="props.icon" v-bind="props"></IconCell>
                <TextCell v-if="props.text || props.textKey" v-bind="props"></TextCell>
            </slot>
        </span>
        <IconCell :icon="ChevronDown"></IconCell>
    </ActionButton>
</template>

<style lang="scss">
.am-pulldown-button {
    justify-content: space-between;
    gap: calc(2 * var(--units-control-spacing));

    .am-pulldown-button-content {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        gap: var(--units-control-spacing);
    }
}
</style>