<script setup lang="ts">
import type { ButtonProps } from './BaseButton.t';
import ActionButton from './ActionButton.vue';

import { SearchIcon } from 'lucide-vue-next';
import { nextTick, ref, watch } from 'vue';
import { newTrigger, trigger, useActionBus, type Action } from '@am/traits/ActionBus';
import TextBox, { type TextBoxProps } from './TextBox.vue';

const props = defineProps<TextBoxProps & ButtonProps & {
    searchMode: boolean,

    onCancel?: Action,
    onSearch?: Action,
}>()

const actionBus = useActionBus()
const focusTrigger = newTrigger()
const searchTerm = ref("")

function leaveSearch() {
    if (searchTerm.value == "") {
        // empty searchbox -> abort search mode
        actionBus.send(props.onCancel, null)
    }
}

function updateSearch(term: string, event: any) {
    searchTerm.value = term.trim()
    actionBus.send(props.onSearch, searchTerm.value, event)
}

function cancelSearch() {
    actionBus.send(props.onCancel, null)
}

watch(() => props.searchMode, (inSearchMode) => {
    if (inSearchMode) {
        nextTick(() => {
            trigger(focusTrigger)
        })
    }
})

</script>

<template>
    <ActionButton 
        class="am-search-button"
        v-if="!props.searchMode"
        v-bind="props"
        :icon="SearchIcon"
        ></ActionButton>
    <TextBox
        v-if="props.searchMode"
        type="search"
        class="am-search-button"
        :placeholder="text"
        :on-cancel="cancelSearch"
        :on-leave="leaveSearch"
        :on-change="updateSearch"
        :focus="focusTrigger"
        :blur="props.blur"
        ></TextBox>
</template>

<style lang="scss">
@use "@am/theme/font.module.scss" as font;
@use "@am/theme/units.module.scss" as units;
@use "@am/theme/colors.module.scss" as colors;
@use "@am/theme/controls.module.scss" as controls;

.am-search-button {
    justify-content: flex-start;
    flex-grow: 1;
}
</style>