<script setup lang="ts">
import BaseButton from './BaseButton.vue';
import { type ButtonProps } from './BaseButton.t';

const props = defineProps<ButtonProps>()

</script>

<template>
    <BaseButton 
        class="am-button-secondary"
        v-bind="props"
        >
        <slot></slot>
    </BaseButton>
</template>

<style lang="scss">
@use "@am/theme/controls.module.scss" as controls;
@use "@am/theme/colors.module.scss" as colors;

.am-button-secondary {
    min-width: var(--units-control-base-width);
    
    &:hover {
        @include controls.elevate(2);
    }

    @include colors.dark-theme {

        &:hover {
            @include colors.apply-shade('a', 1800);
        }

        &:active, &:focus {
            @include colors.apply-shade('a', 1800);
            border-color: var(--scheme-a-s-1200);
        }
    }
}
</style>