<script setup lang="ts">
import IconCell from '@am/cells/IconCell.vue';
import TextCell from '@am/cells/TextCell.vue'
import { XIcon } from 'lucide-vue-next';
import { TabProps } from './Tab.t';
import { useActionBus } from '@am/traits/ActionBus';

const props = defineProps<TabProps>()

const actionBus = useActionBus()

function handleKeyboard(event: KeyboardEvent) {
    if (event.key == ' ' || event.key == 'Enter') {
        actionBus.send(props.onTap, props.actionData, event)
    }
}

function handleClick(event: MouseEvent) {
    event.preventDefault()
    event.stopPropagation()
    if (props.disabled) return
    actionBus.send(props.onTap, props.actionData, event)
}

function handleContext(event: MouseEvent) {
    event.preventDefault()
    if (props.disabled) return
    actionBus.send(props.onContext, props.actionData, event)
}
</script>

<template>
    <nav 
        class="am-tab" 
        tabindex="0" 
        :aria-selected="active"
        :disabled="disabled"
        @click="handleClick"
        @contextmenu="handleContext"
        @keydown="handleKeyboard"
        >
        <div v-if="closeable" class="am-tab-close"><IconCell :icon="XIcon"></IconCell></div>
        <slot>
            <IconCell v-if="props.icon" v-bind="props"></IconCell>
            <TextCell v-bind="props"></TextCell>
        </slot>
    </nav>
</template>

<style lang="scss">
@use "@am/theme/font.module.scss" as font;
@use "@am/theme/units.module.scss" as units;
@use "@am/theme/colors.module.scss" as colors;
@use "@am/theme/controls.module.scss" as controls;
.am-tab {
    @include controls.control();
    @include font.init();

    position: relative;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--units-control-spacing);

    border-radius: calc(0.7*var(--units-control-corner));
    padding: calc(0.7*var(--units-control-pad-v)) var(--units-control-pad-h);

    border: var(--units-control-border) solid var(--container-background);
    min-width: var(--units-control-base-width);

    &[aria-selected=true] {
        @include colors.apply-shade('a', 1000);
    }

    &:hover {
        @include colors.apply-shade('a', 800);
        @include controls.elevate(1);
    }

    &:active, &:focus {
        @include colors.apply-shade('a', 800);
        border-color: var(--scheme-a-s-1400);
    }

    @include colors.dark-theme {

        &[aria-selected=true] {
            @include colors.apply-shade('a', 2000);
        }

        &:hover {
            @include colors.apply-shade('a', 1800);
        }

        &:active, &:focus {
            @include colors.apply-shade('a', 1800);
            border-color: var(--scheme-a-s-1200);
        }
    }

    .am-icon {
        height: 1em;
    }

    .am-tab-close {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        font-size: 0.7em;
        height: calc(0.5*var(--units-control-base));
        width: calc(0.5*var(--units-control-base));
        border-radius: calc(0.5*var(--units-control-corner));

        margin: calc(-0.7*var(--units-control-pad-v)) calc(-1.5*var(--units-control-pad-v));
        margin-right: 0;

        @include colors.apply-shade('a', 2400);
    }

}
</style>