<script setup lang="ts">
</script>

<template>
    <nav class="am-tabs">
        <slot></slot>
    </nav>
</template>

<style lang="scss">
@use "@am/theme/colors.module.scss" as colors;
.am-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--units-control-spacing);

    padding: 0 var(--units-control-pad-v);
    height: var(--units-control-base);

    border-radius: var(--units-control-corner);
    // @include colors.apply-shade('a', 2400);

}
</style>