<script setup lang="ts">
import type { TextCellProps } from '@am/cells/TextCell.t';
import { type Trigger, useActionBus, type Action, newTrigger } from '@am/traits/ActionBus';
import { ref, watch } from 'vue';

export interface TextBoxProps extends TextCellProps {
    type?: 'text' | 'email' | 'url' | 'search',
    placeholder?: string,
    onCancel?: Action,
    onSubmit?: Action,
    onChange?: Action,
    onLeave?: Action,
    focus?: Trigger,
    blur?: Trigger,
}

const actionBus = useActionBus()
const props = withDefaults(defineProps<TextBoxProps>(), {
    type: 'text',
})

function leave(event: Event) {
    actionBus.send(props.onLeave, getData(), event)
}

function update(event: KeyboardEvent) {
    actionBus.send(props.onChange, getData(), event)
    if (event.key == 'Escape') {
        actionBus.send(props.onCancel, getData(), event)
    } else if (event.key == 'Enter' && props.onSubmit) {
        actionBus.send(props.onSubmit, getData(), event)
    }
    
}

const el = ref<HTMLInputElement|undefined>(undefined)
function getData() {
    return el.value!.value
}

watch(() => props.focus, () => {
    el.value?.focus()
})
watch(() => props.blur, () => {
    el.value?.blur()
})
</script>

<template>
    <input 
        ref="el"
        class="am-text-box"
        :type="type" 
        :placeholder="placeholder" 
        :value="text"
        @blur="leave"
        @keyup="update"
        />
</template>

<style lang="scss">
@use "@am/theme/colors.module.scss" as colors;
@use "@am/theme/controls.module.scss" as controls;
@use "@am/theme/font.module.scss" as font;
.am-text-box {
    @include controls.control();
    @include font.init();

    appearance: none;
    position: relative;
    
    @include colors.apply-shade('a', 800);
    border: var(--units-control-border) solid var(--container-background);
    
    width: auto;
    min-width: var(--units-control-base);

    transition: 0.3s ease-in-out;

    &:hover {
        @include controls.elevate(2);
    }
    &:active, &:focus {
        border-color: colors.shade('a', 1200);
        outline: none;
    }

    &::placeholder {
        color: colors.shade('a', 1600);
    }

    @include colors.dark-theme {
        @include colors.apply-shade('a', 2200);

        &:hover {
            @include colors.apply-shade('a', 2000);
        }
        &:active, &:focus {
            border-color: colors.shade('a', 1200);
        }
        &::placeholder {
            color: colors.shade('a', 600);
        }
    }
}
</style>