<script setup lang="ts">
import BaseButton from './BaseButton.vue';
import { type ButtonProps } from './BaseButton.t';

const props = defineProps<ButtonProps & {
    active: boolean
}>()

</script>

<template>
    <BaseButton 
        class="am-button-toggle"
        v-bind="props"
        :aria-pressed="props.active"
        >
        <slot></slot>
    </BaseButton>
</template>

<style lang="scss">
@use "@am/theme/colors.module.scss" as colors;
@use "@am/theme/controls.module.scss" as controls;

.am-button-toggle {
    @include colors.apply-shade('a', 1000);
    border: var(--units-control-border) solid var(--container-background);

    &:hover {
        @include colors.apply-shade('a', 800);
        @include controls.elevate(2);
    }

    &:active, &:focus {
        @include colors.apply-shade('a', 800);
        border-color: colors.shade('a', 1400);
    }

    &[aria-pressed="true"] {

        @include colors.apply-shade('a', 1500);

        &:hover {
            @include colors.apply-shade('a', 1300);
        }

        &:active, &:focus {
            @include colors.apply-shade('a', 1300);
            border-color: colors.shade('a', 1800);
        }

    }


    @include colors.dark-theme {

        @include colors.apply-shade('a', 2000);

        &:hover {
            @include colors.apply-shade('a', 1800);
        }

        &:active, &:focus {
            @include colors.apply-shade('a', 1800);
            border-color: var(--scheme-a-s-1200);
        }

        &[aria-pressed="true"] {

            @include colors.apply-shade('a', 1200);

            &:hover {
                @include colors.apply-shade('a', 1000);
            }

            &:active, &:focus {
                @include colors.apply-shade('a', 1000);
                border-color: colors.shade('a', 200);
            }

        }
    }

}
</style>