<script setup lang="ts">
import TextCell from '@am/cells/TextCell.vue';
import type { TextCellProps } from '@am/cells/TextCell.t';

const props = defineProps<TextCellProps>()
</script>

<template>
    <div class="am-toolbar-title">
        <TextCell kind="heading" v-bind='props' class="am-strong"></TextCell>
    </div>
</template>

<style lang="scss">
.am-toolbar-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--units-control-base);

    h1 {
        font-size: 1em;
    }
}
</style>