<script setup lang="ts">
import ActionButton from '@am/controls/ActionButton.vue';
import TextBox from '@am/controls/TextBox.vue';
import { useActionBus } from '@am/traits/ActionBus';
import { NavigationAction } from '@am/traits/Navigation';

const actionBus = useActionBus()

defineProps<{
    text: string
}>()

function openNextView() {
    actionBus.send(NavigationAction.Push, {
        view: "nav2",
        data: { text: "World!" },
    })
}
</script>

<template>
    Navigation 1:
    {{ text }}

    <ActionButton text="Open" :on-tap="openNextView"></ActionButton>

    <TextBox></TextBox>
</template>