<script setup lang="ts">
import ActionButton from '@am/controls/ActionButton.vue';
import { useActionBus } from '@am/traits/ActionBus';
import { NavigationAction } from '@am/traits/Navigation';

const actionBus = useActionBus()

defineProps<{
    text: string
}>()

function openNextView() {
    actionBus.send(NavigationAction.OpenContext, {
        frame: {
            view: "nav3",
            data: { num: 1 },
        }
    })
}

</script>

<template>
    <ActionButton text="Back" on-tap="navigation::back"></ActionButton>
    Navigation 2:
    {{ text }}
    <ActionButton text="Open" :on-tap="openNextView"></ActionButton>
</template>