<script setup lang="ts">
import ActionButton from '@am/controls/ActionButton.vue';
import { useActionBus } from '@am/traits/ActionBus';
import { NavigationAction } from '@am/traits/Navigation';

const actionBus = useActionBus()

const props = defineProps<{
    num: number
}>()

function pushView() {
    const nextNum = props.num + 1
    actionBus.send(NavigationAction.Push, {
        view: 'nav3',
        data: {num: nextNum}
    })
}
</script>

<template>
    <ActionButton text="Back" on-tap="navigation::drop-context"></ActionButton>
    Navigation 3:
    <ActionButton text="Push" :on-tap="pushView"></ActionButton>
    {{ num }}
</template>