<script setup lang="ts">
import IconCell from './cells/IconCell.vue';
import TextCell from './cells/TextCell.vue';
import ActionButton from './controls/ActionButton.vue';
import SelectionButton from './controls/SelectionButton.vue';
import PulldownButton from './controls/PulldownButton.vue';
import {Camera, Save, LayoutGrid, LayoutList, LayoutTemplate, Layout, User, UserPlus, Plus} from 'lucide-vue-next';
import {ApachemavenIcon} from 'vue3-simple-icons';
import PrimaryButton from './controls/PrimaryButton.vue';
import SecondaryButton from './controls/SecondaryButton.vue';
import Checkbox from './controls/Checkbox.vue';
import ToggleButton from './controls/ToggleButton.vue';
import MenuButton from './controls/MenuButton.vue';
import { registerActionBus, useActionBus } from './traits/ActionBus';
import List from './containers/List.vue';
import { ref, type Component } from 'vue';
import Toolbar from './containers/Toolbar.vue';
import { type ToolbarAction } from './containers/Toolbar.t';
import ToolbarGroup from './containers/ToolbarGroup.vue';
import DocumentButton from './controls/DocumentButton.vue';
import Menu, { newMenu } from './containers/Menu.vue';
import NavigationStack from './containers/NavigationStack.vue';
import Nav1 from './example/Nav1.vue';
import Nav2 from './example/Nav2.vue';
import { numberFormatter, replace } from './traits/Formatter';
import IconButton from './controls/IconButton.vue';

const actionBus = useActionBus()

const listItems = ref([
    { key: 0, textKey: 'hello'},
    { key: 1, text: "Foo" },
    { key: 'foo', text: "Bar" }
])
const selected = ref<any[]>([])

function selectItems(items: any[]) {
    selected.value = items
}

const actionItems: ToolbarAction[] = [
    {actionType: 'button', text: "Foo", onTap: "bar", actionData: "Foo"},
    {actionType: 'toggle', icon: Camera, active: true},
    {actionType: 'selection', text: "Home"},
]

function startDrag(event: DragEvent, key: any) {
    const data = listItems.value.filter(i => i.key == key)[0]
    event.dataTransfer?.setData('text/plain', data.text ?? "Item")
}

function negotiateDrop(event: DragEvent) {
    event.dataTransfer!.effectAllowed = 'copyMove'
    return true
}

function drop(event: DragEvent) {
    const data = event.dataTransfer?.getData("text/plain")
    const key = listItems.value.length
    listItems.value.push({ key, text: `Another ${data}`})
}

function dragResult(event: DragEvent, key: any) {
    if (event.dataTransfer?.dropEffect == 'move') {
        listItems.value = listItems.value.filter(i => i.key != key)
    }
}

const menuItems = ref([
    { text: '@daniel@home', onTap: () => console.log('first')},
    { text: "@daniel@gitlab.com", },
    { text: "Add Account... ", icon: Plus, submenu: [
        {text: "Somewhere"},
        {text: "Here"},
    ]},
])

const showMenu = newMenu()


function openMenu(_: any, event: PointerEvent) {
    showMenu.value.open(event)
}

function resolveView(view: string): Component | undefined {
    if (view == 'nav1') {
        return Nav1
    } else if (view == 'nav2') {
        return Nav2
    }
}
</script>

<template>
    <main>
        <Toolbar>
            <ToolbarGroup>
                <IconButton :icon="Layout" text="Switch Layout"></IconButton>
                <DocumentButton documentTitle="Document" documentSubtitle="edited" :on-tap="openMenu"></DocumentButton>
                
            </ToolbarGroup>
            
            <ToolbarGroup class='merge'>
                <ToggleButton :icon="LayoutGrid" :active="false" alt="Grid View"></ToggleButton>
                <ToggleButton :icon="LayoutList" :active="false" alt="List View"></ToggleButton>
                <ToggleButton :icon="LayoutTemplate" :active="true" alt="Dashboard View"></ToggleButton>
            </ToolbarGroup>
            <ToolbarGroup :actions="actionItems">
                
            </ToolbarGroup>
            <ToolbarGroup>
                <MenuButton :on-tap="openMenu"></MenuButton>
            </ToolbarGroup>
        </Toolbar>

        <div style="margin-top: 100px">

            <ActionButton text-key="hello"></ActionButton>
            <IconButton :icon="Camera" text="Camera Button"></IconButton>
            <Checkbox></Checkbox>
            <SelectionButton :icon="Camera" text="Foo" style="width: 200px" alt="Camera Selection"></SelectionButton>
            <PrimaryButton text="Primary"></PrimaryButton>
            
            <div style="display: block; width: 200px">
                <List 
                    :items="listItems" 
                    :cell="TextCell" 
                    :selected="selected" 
                    :multiselect="true"
                    :on-select="selectItems"
                    :on-drag="startDrag"
                    :on-drag-result="dragResult"
                    :on-negotiate-drop="negotiateDrop"
                    :on-drop="drop"
                    :allow-drag="true"
                    :allow-drop="true"
                    ></List>
            </div>

            <div style="display: block; width: 200px">
                <List
                    :items="listItems"
                    :selected="selected"
                    :multiselect="true"
                    :on-select="selectItems"
                    :on-drag="startDrag"
                    :allow-drag="true"
                    :allow-drop="false"
                    >
                    <template #cell="{text, selected}">
                        <span>
                            {{ text }}
                        </span>
                        <MenuButton v-if="selected"></MenuButton>
                    </template>
                    
                </List>
            </div>
        </div>

        <div style="display: block; width: 300px; height: 400px; position: relative;">
            <NavigationStack></NavigationStack>
        </div>

        <Menu :items="menuItems" :controller="showMenu"></Menu>
    </main>
</template>